MONGODB_URI=mongodb+srv://goowali:8WAAy2Hof0fVQktM@cluster0.guui0dh.mongodb.net/goowali_erp?retryWrites=true&w=majority&appName=Cluster0
NEXTAUTH_SECRET=sipoI9EURYT8ppUlPxyxADg8YinT2N3lQ1ENlDaA2uM=
NEXTAUTH_URL=http://localhost:3000

# Super admin credentials — auto-created on server start if no SUPER_ADMIN exists
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_PHONE=01900000001
SUPER_ADMIN_PASSWORD=admin123